.env
.env.*
!.env.example
api_key.md

/database/actual/*
!/database/actual/.gitkeep

/storage/documents/*
/storage/logs/*
!/storage/documents/.gitkeep
!/storage/logs/.gitkeep

/docs/test/
/docs/doc_test.md

/.idea/
/.vscode/
/.phpunit.cache/
/coverage/
*.log
*.sql.gz
*.zip
*.tar
*.tar.gz
Thumbs.db
.DS_Store

